.certifications-testimonial4 {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.certifications-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.certifications-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.certifications-avatar {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 113px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
}
.certifications-avatar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.certifications-avatar-image {
  width: auto;
  height: 56px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.certifications-text {
  width: 100%;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.certifications-container1 {
  flex: 0 0 auto;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.certifications-title {
  width: auto;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.certifications-root-class-name {
  width: 100%;
}
.certifications-root-class-name1 {
  width: 100%;
}
.certifications-root-class-name2 {
  width: 100%;
}
.certifications-root-class-name3 {
  width: 100%;
}
.certifications-root-class-name4 {
  width: 100%;
}
.certifications-root-class-name5 {
  width: 100%;
}




@media(max-width: 479px) {
  .certifications-avatar {
    flex-direction: column;
  }
  .certifications-avatar-content {
    align-items: center;
    justify-content: center;
  }
}
