.school-work-experiance-testimonial4 {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.school-work-experiance-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.school-work-experiance-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.school-work-experiance-avatar {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 113px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
}
.school-work-experiance-avatar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.school-work-experiance-avatar-image {
  width: auto;
  height: 56px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.school-work-experiance-text {
  width: 100%;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.school-work-experiance-container1 {
  flex: 0 0 auto;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.school-work-experiance-title {
  fill: var(--dl-color-jesscolors-primaryblue);
  color: var(--dl-color-jesscolors-primaryblue);
  width: auto;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.school-work-experiance-text1 {
  width: auto;
  font-size: 18px;
  text-align: left;
}
.school-work-experiance-root-class-name {
  width: 100%;
}
.school-work-experiance-root-class-name1 {
  width: 100%;
}
.school-work-experiance-root-class-name2 {
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.school-work-experiance-root-class-name3 {
  width: 100%;
}
.school-work-experiance-root-class-name4 {
  width: 100%;
}
.school-work-experiance-root-class-name5 {
  width: 100%;
}
@media(max-width: 479px) {
  .school-work-experiance-avatar {
    flex-direction: column;
  }
  .school-work-experiance-avatar-content {
    align-items: center;
    justify-content: center;
  }
  .school-work-experiance-text1 {
    
    font-size: 14px;
    
  }
}

.item-bullet {
  margin-top: var(--dl-space-space-halfunit);
  list-style-type: disc;
}



