.admin-management-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.admin-management-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admin-management-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
}
.admin-management-assets {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  flex-direction: row;
}
.admin-management-vertical-nav {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.admin-management-text1 {
  color: #7b7878;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.admin-management-items {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.admin-management-dashboard {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.admin-management-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-management-image {
  width: 100%;
  object-fit: cover;
}
.admin-management-container3 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-management-image1 {
  width: 100%;
  object-fit: cover;
}
.admin-management-projects {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.admin-management-text2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
